<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies  - Connexion</title>
  <link rel="stylesheet" href="/movie/view/assets/fonts/fonts.css">
  <link rel="stylesheet" href="/movie/style.css">
  <link rel="stylesheet" href="/movie/view/auth/auth.css">
  <script src="/movie/view/utils/api.js" defer></script>
  <script src="/movie/view/auth/auth.js" defer></script>
  <script src="/movie/view/utils/toast.js" defer></script>
</head>
<body class="page-inscription">

<div class="boite-inscription">
  <!-- Logo Movies  -->
  <div style="text-align: center; margin-bottom: 25px;">
    <div class="logo" style="justify-content: center; margin-bottom: 12px;">
      <svg class="circle-play-logo" style="color: var(--rouge-mada)"><use href="/movie/view/assets/icons.svg#circle-play"></use></svg>
      Movies
    </div>
    <p style="font-size: 13px; color: var(--gris-clair); max-width: 380px; margin: 0 auto; line-height: 1.5;">
      Entrez vos identifiants pour accéder à votre compte.
    </p>
  </div>

  <!-- Formulaire de connexion -->
  <form method="POST" id="loginForm">

    <!-- Email ou nom d'utilisateur -->
    <div class="form-groupe">
      <label for="identifiant">Email</label>
      <div class="input-icone">
        <svg class="user-input"><use href="/movie/view/assets/icons.svg#user"></use></svg>
        <input type="email" id="identifiant" name="email_utilisateur" placeholder="Votre email" required>
      </div>
    </div>

    <!-- Mot de passe -->
    <div class="form-groupe">
      <label for="mot_de_passe">Mot de passe</label>
      <div class="input-icone">
        <svg class="user-input"><use href="/movie/view/assets/icons.svg#lock"></use></svg>
        <input type="password" id="mot_de_passe" name="mot_de_passe" placeholder="Votre mot de passe" required>
        <svg class="eye-icon toggle-mdp" onclick="basculerMotDePasse('mot_de_passe', 'icon-eye')"><use id="icon-eye" href="/movie/view/assets/icons.svg#eye"></use></svg>
      </div>
    </div>

    <!-- Lien mot de passe oublié -->
    <!--        <div style="text-align: right; margin-bottom: 20px;" id="lienMdpOublie">-->
    <!--            <a href="#" style="font-size: 13px; color: var(&#45;&#45;rouge-mada);">Mot de passe oublié ?</a>-->
    <!--        </div>-->

    <!-- Bouton de connexion -->
    <button type="submit" class="bouton-principal">
      <svg class="icon-bouton-principale"><use href="/movie/view/assets/icons.svg#right-to-bracket"></use></svg>
      <span>Se connecter</span>
    </button>

  </form>

  <!-- Pied de page -->
  <footer>
    <div style="padding-top: 20px; bottom: 20px; font-size: 11px; color: rgba(255,255,255,0.4); text-align: center; width: 100%;">
      2026 Movies . Tous droits réservés.
    </div>
  </footer>

</div>

</body>
</html>

